html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;

  background: #fff;
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #fff;
  background: #000;
}
