.container {
  height: 100vh;
  .header {
    margin: 50px auto;
    text-align: center;
    font-size: 2em;
  }

  .body {
    transform: translateY(-10px);
    width: 50vw;
    height: 50vh;
    font-family: Workhorse, sans-serif;
    margin: auto;

    h1 {
      font-size: 36px;
      padding-bottom: 5px;
    }

    h2 {
      font-size: 27px;
      padding-bottom: 8px;
    }

    a {
      text-decoration-line: underline;
      text-decoration-style: dotted;
      &:hover {
        color: orange;
      }
    }

    @media (max-width: 700px) {
      display: block;
      width: 85vw;
    }
  }
}
