.nav {
  height: 50px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  &_left {
    width: 10%;
    height: 50px;
    padding-left: 15px;
  }
  &_icons {
    display: flex;
    position: relative;
    top: 25%;
  }
  &_right {
    width: 10%;
    height: 50px;
  }
  .theme_icon {
    margin: 0 50px;
    position: relative; /* IMPORTANT FOR TOP TO WORK */
    top: 25%;
    i:hover {
    }
  }
}

@media (max-width: 800px) {
  .nav_left {
    padding-left: 20px;
  }
}
