.nav {
  height: 50px;
  border-bottom: 1px solid black;
  position: sticky;
  &_left {
    width: 10%;
    height: 50px;
    padding-left: 15px;
  }
  &_icons {
    display: flex;
    position: relative;
    top: 25%;
  }
}

@media (max-width: 800px) {
  .nav_left {
    padding-left: 20px;
  }
}
