.portfolio {
  height: 100vh;
  .firstscroll {
    height: 100vh;
  }

  .navbar {
    top: 0;
    position: fixed;
  }

  .secondscroll {
    height: 100vh;
  }

  .thirdscroll {
    height: 100vh;
  }

  .content_header {
    text-align: center;
    margin: 102px auto;
    .name {
      font-size: 3em;
      font-weight: 400;
      line-height: 40px;
      &:hover {
        color: orange;
        cursor: pointer;
      }
    }
    .desc {
      font-weight: 300;
      color: #96979c;
      line-height: 1rem;

      @media (max-width: 800px) {
        font-size: 1.2em;
      }
    }
  }

  .scrolltotopbutton {
    display: none;
    position: fixed;

    @media (max-width: 800) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  }
}
