.container {
  .header {
    margin: 50px auto;
    text-align: center;
    font-size: 2em;
  }

  .gridcontainer {
    display: grid;
    width: 80vw;
    height: 60vh;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;

    div {
      margin: auto;
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
